#pirmas {
    color: blue;
}
#antras {
    color: chartreuse;
}
#antraste {
    background-color: blueviolet;
}
#pirma {
    color: red;
    background-color: bisque;
}
#antra {
    color: red;
    background-color: yellowgreen;
}
#trecia {
    color: orange;
    background-color: yellowgreen;
}